<div data-role="page" tabindex="0" class="ui-page ui-page-theme-a ui-page-active" style="">
	<div id="obg_wrapper">
		<div id="obg_body" style="background:url(<%= asset_path 'bg01.gif' %>) repeat center top">
			<div id="survey_top">
				<div role="heading" class="q_wrapper">
					<legend>
						<span class="q_nmu">Q</span>
						<span class="q_text"><%= @question.content %></span>
					</legend>
				</div>
				<div id="q_body">
					<div class="options">

						<div class="row">
							<%= link_to "/survey/" + "#{@condition_id}" + "/" + "#{@question_id}" + "?true_false=1", class: 'js_survey_content_link' do %>
					  		<div class="option">はい</div>
							<% end %>
						</div>

						<div class="row">
							<%= link_to "/survey/" + "#{@condition_id}" + "/" + "#{@question_id}" + "?true_false=0", class: 'js_survey_content_link' do %>
					  		<div class="option">いいえ</div>
							<% end %>
						</div>

					</div>
				</div>
			</div>
		</div>
		<footer>
			© MINX All rights reserved.
		</footer>
	</div>
</div>
