<div data-role="page" tabindex="0" class="ui-page ui-page-theme-a ui-page-active" style="">
	<div id="obg_wrapper">
		<div id="obg_body" style="background:url(<%= asset_path 'bg01.gif' %>) repeat center top">
			<div id="survey_top">
				<div role="heading" class="q_wrapper">
					<legend>
						<span class="q_nmu">Q1</span>
						<span class="q_text">現在気になっている症状を教えてください。</span>
					</legend>
				</div>
				<div id="q_body">
					<div class="options">

						<% @conditions.each do |condition| %>
						<div class="row">
							<%= link_to "/survey/" + "#{condition.id}" + "/" + "#{@question_id}", class: 'js_survey_content_link' do %>
					  		<div class="option"><%= condition.name %></div>
							<% end %>
						</div>
						<% end %>

					</div>
				</div>
			</div>
		</div>
		<footer>
			© MINX All rights reserved.
		</footer>
	</div>
</div>
