<div data-role="page" tabindex="0" class="ui-page ui-page-theme-a ui-page-active" style="">
	<div id="obg_wrapper">
		<div id="obg_body">
			<div id="councel_top" style="background-image:url(<%= asset_path 'top-image-test.jpg' %>)">
				<h1>漢方診断</h1>
				<div id="top_body">
					<p class="">皮膚科学に基づいて、<br class="br_pc_only">健康で美しい素肌へと導くObagiのスキンケア。<br>一人ひとり異なる「肌悩み」に応じた、<br class="br_pc_only">最適なケアを探しましょう。<br>あなたにおすすめの商品もご紹介します。</p>
					<div class="ui-content" id="cl_start">
						<%= link_to survey_condition_path, class: "ui-btn ui-input-btn ui-btn-b ui-corner-all ui-shadow ui-icon-arrow-r ui-btn-icon-right" do %>
							<div class="link_button">
								診断を始める
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<footer>
			© MINX All rights reserved.
		</footer>
	</div>
</div>
