<div data-role="page" tabindex="0" class="ui-page ui-page-theme-a ui-page-active" style="">
	<div id="obg_wrapper">
		<div id="obg_body" style="background:url(<%= asset_path 'bg01.gif' %>) repeat center top">
			<div id="survey_top">
				<div role="heading" class="q_wrapper">
					<legend>
						<span class="q_nmu">Q1</span>
						<span class="q_text">現在気になっている肌悩みに全てチェックしてください。</span>
					</legend>
				</div>
				<div id="q_body">
					<div class="options">
						<div class="row">
							<%= link_to  root_path, class: 'js_survey_content_link' do %>
					  		<div class="option">とてもある</div>
							<% end %>
						</div>
						<div class="row">
							<a class="js_survey_content_link" href="/supplements/survey?answer%5Bvalue%5D=2&amp;position=3">
								<div class="option">少しある</div>
							</a>
						</div>
						<div class="row">
							<a class="js_survey_content_link" href="/supplements/survey?answer%5Bvalue%5D=1&amp;position=3"><div class="option">ほとんどない</div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			© MINX All rights reserved.
		</footer>
	</div>
</div>
