<html class="wf-europa-n7-active wf-europa-n3-active wf-europa-n4-active wf-active"><head><style type="text/css">.turbolinks-progress-bar {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: 3px;
  background: #0076ff;
  z-index: 9999;
  transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
  transform: translate3d(0, 0, 0);
}</style>




<!-- Global site tag (gtag.js) - Google Analytics -->
<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://use.typekit.net/box1hle.js" async=""></script><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-137423721-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-137423721-1');
</script>




<script>
  (function(d) {
    var config = {
      kitId: 'box1hle',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>

<link rel="stylesheet" media="all" href="//assets.cdn.finc.com/psm/assets/users/application-6b139e72e6ccb8ba329d31f0905e53ff9f84740d9385327a0dfac7ba20ef4dcf.css" data-turbolinks-track="reload">
<script src="//assets.cdn.finc.com/psm/assets/application-72e7755c459f8be8927f6e7b3cc30fbddc827b71aa872c42e825582a5c1c50e6.js" data-turbolinks-track="reload"></script>
<script src="https://cdn.ravenjs.com/3.12.0/raven.min.js"></script>
<script>Raven.config("https://031da18514b54da3b2248b2e6b9fd4d8@sentry.finc.com/101").install();</script>
<script src="https://api.veritrans.co.jp/vtdirect/v2/veritrans.min.js"></script><style type="text/css">.tk-europa{font-family:"europa",sans-serif;}</style><style type="text/css">@font-face{font-family:tk-europa-n7;src:url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:tk-europa-n3;src:url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:tk-europa-n4;src:url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}</style><style type="text/css">@font-face{font-family:europa;src:url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/f3ba4f/00000000000000003b9b12fa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/3e64fb/00000000000000003b9b12fe/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:europa;src:url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/4eabcf/00000000000000003b9b12fd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}</style>
<link rel="shortcut icon" type="image/x-icon" href="//assets.cdn.finc.com/psm/assets/favicon_finc_chan-cca060f4133486a46ed4f7ae4b875fbfad0231aea72557eadd52132290cd4864.ico"><title>【公式】FiNC(フィンク) パーソナルサプリメント 通販</title><meta content="width=device-width, shrink-to-fit=no, initial-scale=1" name="viewport"><meta content="FiNCのパーソナルサプリメント公式通販サイトです。管理栄養士や薬剤師が厳選した8,568通りのサプリメントから、あなたの食生活や運動習慣、ダイエットや美容に関する悩みから最適なものをお届けします。普段の食事だけでは不足する栄養素をケアしましょう。" name="description"><meta name="csrf-param" content="authenticity_token"><meta name="csrf-token" content="o9w3Q8YcNAwpPwlpseBsjm3e0YehN9pflaIplLZG4X6ZgkIcR6e/p/3uwjpYVimEqcMOIk2koY5MDGZpiwRg7g=="></head><body data-action-name="index" data-base-url="https://personal-supplement.finc.com" data-controller-name="top" data-page-name="top_index"><div class="container">
<div class="max-width-pc" id="toast_message">
<div class="u-inline-container--side">
<div class="bg--white surface--r12-s04 text--sub-head3 text--gray text-align--center"><div class="u-inline-container--top-bottom-half"></div></div>
</div>
</div>

<div class="bg--light-gray max-width-pc">
<div id="faidinHeader">
<div class="header u-clearfix u-clearfix u-flex u-flex--justify-between u-flex--align-center max-width-pc">
<div class="header_container u-auto-margin--right">
<img class="header_logo" src="//assets.cdn.finc.com/psm/assets/icon/common/ic_logo_header-c601f6545c8c7c3efff86af88e83e6b8535f496c188a9e867c3006f5ccc1c17b.png">
</div>
<div class="header_container">
<div class="header_nav">
<a href="/login"><div class="text--LPButtonExsmall text--metalic-gray header_nav_btn">
ログイン
</div>
</a><a href="/users/new"><div class="top_contents_btn btn--small btn--contained-fill-gray btn--shadow03 header_nav_btn text--LPButtonExsmall u-right">START</div>
</a></div>
</div>
</div>
</div>
<div class="top_contents">
<div class="topbg topbg--Img1 src1"></div>
<div class="topbg topbg--Img2 src2"></div>
<div class="toptext1 text1">
<img src="//assets.cdn.finc.com/psm/assets/icon/lp/ic_logoandcopy_kv-4ee6d77e5b8f7b126761b2c7087876157018d3fd6095e4e5a03ee3b906d1f627.png">
</div>
<div class="toptext2 text2"><a href="/survey/symptom"><div class="free_trial_btn free_trial_btn--top btn btn--extra-large btn--contained-fill-primary btn--shadow03"><div class="free_trial_btn_textbox">
<div class="text--LPButtonLargeWhite">START</div>
<div class="text--LPCaption3 text--metalic-gray">- あなただけのサプリをみつけに -</div>
</div></div></a><div class="scroll">
<img src="//assets.cdn.finc.com/psm/assets/icon/lp/ic_display_scroll_black-4faec3fe717e0d3efc2fbe2214e0587924397947628b72c6fb31470de816c0f7.svg">
</div>
</div>
</div>
<div class="main_contents">
<div class="main_contents1">
<div class="main_contents1_part">
<div class="main_contents_title_box">
<div id="faidinHeader_trigger"></div>
<div id="faidin1">
<div class="text--LPSubhead3 text--dark-gray">- MESSAGE -</div>
</div>
</body></html>
