/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-size: 62.5%;
}

 h1, h2, h3, h4, h5, h6, p, form {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
  font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff;
}

body > div {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
}

body a {
  text-decoration: none;
  color: inherit;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head + body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head + body .ui-btn.ui-btn-b:visited {
    background-color: #F3F1EA;
    border-color: #DBDBDB;
    color: #61410B;
    text-shadow: 0 0 0 #f3f3f3;
}

.ui-mobile, .ui-mobile body {
  height: 99.9%;
}

.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: none;
  border: 0;
}

.ui-mobile, .ui-page-active {
	 display: block;
	 overflow: visible;
	 overflow-x: hidden;
}

 #obg_wrapper {
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

#obg_body {
  border: 1px solid #DBDBDB;
  margin: 0 0 0 0;
  min-height: 540px;
  position: relative;
  zoom: 100%;
}

#councel_top {
  min-height: 540px;
  text-align: center;
  height: 100%;
}

#councel_top h1 {
  margin: 0 auto 44px auto;
  padding: 80px 0 12px 0;
  border-bottom: 1px solid #D1C7AD;
  width: 400px;
}

#survey_top {
	padding: 36px 20px 0 20px;
  margin-bottom: 36px;
}

#top_body {
  margin: 0 10px;
  padding: 0 260px;
}

#top_body p {
  font-family: "FP-HiraMinProN-W6";
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.ui-content .pre-register-box{
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 1em;
}

.ui-btn, label.ui-btn {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
}

.ui-btn {
  font-size: 16px;
  margin: .5em 0;
  padding: .7em 1em;
  display: block;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cl_start .ui-btn, .btn_wrap .ui-btn {
  font-family: "FP-HiraMinProN-W6";
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px;
}

.link_button {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  filter: Alpha(Opacity=0);
  z-index: 2;
  background-color: #F3F1EA;
  border-color: #DBDBDB;
  color: #61410B;
  text-shadow: 0 0 0 #f3f3f3;
  font-family: "FP-HiraMinProN-W6";
  font-size: 2.0rem;
  line-height: 20px;
  text-decoration: none;
}

#obg_wrapper footer {
  padding: 10px 0 20px 0;
  text-align: center;
  color: #777777;
  font-size: 11px;
  font-size: 1.1rem;
}

.q_wrapper legend {
  display: block;
  width: 100%;
  color: #815A0B;
  font-family: "FP-HiraMinProN-W6";
  font-size: 24px;
  font-size: 2.4rem;
  margin: 0 auto 24px auto;
  height: 72px;
  text-align: center;
}

.q_wrapper .q_nmu {
  border-right: 1px solid #815A0B;
  display: inline-block;
  padding-right: 12px;
}

.q_wrapper .q_text {
  padding-left: 6px;
}

.row {
  width: calc(100% + 0px * 2);
  margin: 0 0px;
}

#obg_wrapper .options .row {
  margin: 12px 0;
}

.options .option {
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

#obg_wrapper .options .option {
  cursor: pointer;
  text-align: center;
  background-color: #ffffff;
  height: 48px;
  width: 10000px;
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 24px;
  border: solid 1px #edeeef;
}

#obg_wrapper .options .option {
  border-radius: 12px;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,0.06);
}

.row:after{
  content: '';
  clear: both;
  display: block;
}

#result_box {
  margin: 25px 20px 30px 20px;
}

.result_title01 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 24px;
  text-align: center;
  font-weight: normal;
  font-family: "TelopMinPro-B";
  margin-bottom: 24px;
}

.result_comm {
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 24px;
  font-weight: normal;
  margin: 0 auto 30px auto;
  font-family: "TelopMinPro-B";
  color: #815A0B;
}

.result_sub {
  display: block;
}

.result_main {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
  padding: 12px 20px;
  font-size: 34px;
  font-size: 3.4rem;
  line-height: 34px;
  margin: 12px auto;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.result_txt {
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 26px;
  font-family: "FP-HiraMinProN-W3";
  margin: 0 auto 30px auto;
}

.resutl_color2, .resutl_color3, .resutl_color5, .resutl_color6 {
  color: #825A45;
  border-color: #825A45;
}

#result_otherbox {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding-top: 18px;
  text-align: center;
  margin: 0 0 30px 0;
}

.result_title02 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 18px;
  text-align: center;
  font-weight: normal;
  font-family: "TelopMinPro-B";
  margin-bottom: 10px;
}

.result_txt .text_chu {
  display: block;
  font-size: 12px;
  font-size: 1.2rem;
}

.surface--r12-s03, .order_stop_page_inner .options .option, .order_stop_page_inner .option-checked, .survey_wrapper .options .option {
  border-radius: 12px;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,0.06);
}

#result_ohterlist {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	font-size: 0;
}

.text--caption1 {
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 1px;
}

.text--head3 {
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.survey_result_ul {
	display: inline-block;
  padding: 20px 8px;
  white-space: normal;
  width: 350px;
}

.supplement_card {
  background-color: #ffffff;
  margin: 16px 6px;
  padding: 20px 20px 20px 24px;
  position: relative;
}

.supplement_card .supplement_name {
  z-index: 1;
  position: relative;
}

.supplement_card .supplement_name .supplement_name_jp {
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.supplement_card .supplement_img_box {
  height: 136px;
  margin: 16px 0;
}

.supplement_masked_img {
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: relative;
}

.supplement_card .supplement_description_box {
  height: 100px;
  display: table;
}

.supplement_card .supplement_description_box .supplement_description_inner {
  display: table-cell;
  vertical-align: middle;
}

.text--center {
  text-align: center;
  margin: 0 auto;
}

.pre-register-box {
	width: 25%;
	margin: 10px auto 0 auto;
}

.pre-register-btn {
	font-weight: bold;
  border-width: 1px;
  border-style: solid;
	font-family: "FP-HiraMinProN-W6";
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px;
	background-color: #F3F1EA;
  border-color: #DBDBDB;
  color: #61410B;
  text-shadow: 0 0 0 #f3f3f3;
  border-radius: 0.2em
}

.pre-register-btn-link {
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background: #fff;
  background: rgba(255,255,255,0);
  filter: Alpha(Opacity=0);
  opacity: .1;
  font-size: 1px;
  text-indent: -9999px;
  z-index: 2;
}


@media screen and (orientation: landscape) {
	.ui-mobile .ui-page {
	    min-height: 300px;
	}
}

@media screen and (min-width: 768px) {
	.survey_result_ul {
    list-style: none;
	}
}
