/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  font-size: 62.5%;
}

 h1, h2, h3, h4, h5, h6, p, form {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
  font-family: メイリオ, Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff;
}

body > div {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 22px;
  line-height: 2.2rem;
}

.ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head + body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head + body .ui-btn.ui-btn-b:visited {
    background-color: #F3F1EA;
    border-color: #DBDBDB;
    color: #61410B;
    text-shadow: 0 0 0 #f3f3f3;
}

.ui-mobile, .ui-mobile body {
  height: 99.9%;
}

.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: none;
  border: 0;
}

.ui-mobile, .ui-page-active {
	 display: block;
	 overflow: visible;
	 overflow-x: hidden;
}

 #obg_wrapper {
  width: 940px;
  margin: 0 auto;
  text-align: left;
}

#obg_body {
  border: 1px solid #DBDBDB;
  margin: 0 0 0 0;
  min-height: 540px;
  position: relative;
  zoom: 100%;
}

#councel_top {
  min-height: 540px;
  text-align: center;
}

#councel_top h1 {
  margin: 0 auto 44px auto;
  padding: 80px 0 12px 0;
  border-bottom: 1px solid #D1C7AD;
  width: 400px;
}

#top_body {
  margin: 0 10px;
  padding: 0 260px;
}

#top_body p {
  font-family: "FP-HiraMinProN-W6";
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.ui-content {
  border-width: 0;
  overflow: visible;
  overflow-x: hidden;
  padding: 1em;
}

.ui-btn, label.ui-btn {
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
}

.ui-btn {
  font-size: 16px;
  margin: .5em 0;
  padding: .7em 1em;
  display: block;
  position: relative;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cl_start .ui-btn, .btn_wrap .ui-btn {
  font-family: "FP-HiraMinProN-W6";
  font-size: 20px;
  font-size: 2.0rem;
  line-height: 20px;
}

.link_button {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-border-radius: inherit;
  border-radius: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  filter: Alpha(Opacity=0);
  z-index: 2;
  background-color: #F3F1EA;
  border-color: #DBDBDB;
  color: #61410B;
  text-shadow: 0 0 0 #f3f3f3;
  font-family: "FP-HiraMinProN-W6";
  font-size: 2.0rem;
  line-height: 20px;
  text-decoration: none;
}

#obg_wrapper footer {
  padding: 10px 0 20px 0;
  text-align: center;
  color: #777777;
  font-size: 11px;
  font-size: 1.1rem;
}

@media screen and (orientation: landscape) {
	.ui-mobile .ui-page {
	    min-height: 300px;
	}
}
